<div class="container">
    <div class="jumbotron">
        <h1><i class="fa fa-comments"></i> Cheap Chat</h1>
    </div>
    <app-user (userLogged)="crearUser($event)" *ngIf="!globals.logueado"></app-user>
    <app-room *ngIf="globals.logueado"></app-room>

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark pt-4">

        <!-- Footer Elements -->
        <div class="footer-copyright text-center">
            <h5 class="mb-1">Copyleft © 2018 by {{autor}}. </h5>
            <h5>Hecho con <i class="fa fa-heart"></i> usando bootstrap y font-awesome</h5>
            <hr>
            <h6>Powered by {{title}}</h6>
        </div>
        <!-- Powered -->
    </footer>
    <!-- Footer -->
</div>